@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
    background-color: #040744, #1A1F5C, ;
    --light-color: #fff;
    

}
body{
  background-color: #040744;
}
.applead{
  position: absolute;
  top: px;
  left: 97px;
  width: 27px;
  height: 25px;
  aspect-ratio: 1.09;
  /* position: absolute;
  font-size: 300px;
  width: 500px;
  height: 170px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 5px; */
}
/* 
img{
  aspect-ratio: 3/2;
  object-fit: contain;
}  */
.WELCOME{
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  top: 210px;
  width: 1440px;
  text-align: center;
  height: 1542px;
  background: linear-gradient(
    270deg,
    rgba(4, 7, 68, 1)69%,
    rgba(26, 31, 91, 1)89%
  );
  background-position: cover;
}
.WELCOME .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 210px;
  left: calc(50.00% - 318px);
}

.text-wrapper {
  margin-top: -1px;
  font-family: "Montserrat-BlackItalic", Helvetica;
  font-weight: 900;
  font-size: 96px;
  position: relative;
  width: fit-content;
  font-style: italic;
  color: #fff;
  letter-spacing: 0;
  line-height: normal;
}
.WELCOME .div{
  position: relative;
  width: fit-content;
  font-style: italic;
  font-size: 96px;
  color: #fff;
  letter-spacing: 0;
  line-height: normal;
  font-weight: 800;
  font-family: "Montserrat", Helvetica;
}

.frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 405px;
  left: calc(50% - 246px);
}

.text-wrapper-2 {
  position: relative;
  width: 301px;
  height: 81px;
  margin-top: -1px;
  font-weight: 700;
  font-style: italic;
  font-family: "Montserrat-ExtraBolidItalic", Helvetica;
  font-size: 64px;
  text-align: center;
  color: #fff;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-3 {
   font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  position: relative;
  width: fit-content;
  font-style: italic;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.img {
  top: 1010px;
  position: absolute;
  left: calc(50.00% - 677px);
  width: 1355px;
  height: 312px;
}

.ATM {
   position: absolute;
  height: 16.86%;
  top: 44.29%;
  left: calc(50.00% - 104px);
  width: 208px;
  box-shadow: inset 0px 4px 5.7px #00000040;
}

.vector {
  position: absolute;
  height: 32.43%;
  top: 0;
  left: calc(50.00% - 107px);
  width: 213px;
}

.card {
   position: absolute;
  top: 42px;
  left: 29px;
  width: 150px;
  height: 215px;
}

.text-wrapper-4 {
  position: absolute;
  top: 1035px;
  left: calc(50.00% - 279px);
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.Powered {
  display: flex;
  width: 254px;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  position: absolute;
  left: calc(50.00% - 127px);
  bottom: 28px;
}
.text-wrapper-5 {
  position: relative;
  width: fit-content;color: #fff;
  white-space: nowrap;
  line-height: 18.2px;
  letter-spacing: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.frame-3 {
  display: flex;
  width: 136px;
  align-items: center;
  gap: 4px;
  padding: 0px 5px;
  position: relative;
  background-color: #ffffff;
}

.applean {
  position: relative;
  width: 217px;
  height: 215px;
  left: -555px;
  top: -655px;
  aspect-ratio: 1.09;
}