body{
    
    background-color: #000;
    width: 2240px;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}


*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.withdrawal{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1940px;
    height: 1440px;
    left: 920px;
    background: linear-gradient(
        270deg,
        #040744 13.84%,
        #1a1f5c 79.44%
    );

} 
.applead{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 210px;
    height: 190px;
    aspect-ratio: 1.09;
}
.withdrawal{
   position: relative;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   width: 100%;
   max-width: 2100px;
   height: 1417px;
   overflow: hidden;
   background: linear-gradient(
    270deg,
    rgba(4, 7, 68, 1)29%,
    rgba(26, 31 92, 1)67%
   ); 
}
.frame{
    display: flex;
    flex-direction: column;
    width: 1994px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    gap: 15px;
    position: absolute;
    top: 290px;
    left: 21px;
}
.div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 68px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.frame-2{
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    gap: 61px;
    width: 100%;
    flex: 0 0 auto;
}
.frame-3{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1100px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.95;
    gap: 31px;
    border-radius: 25px;
    padding: 33px 64px;
}
.frame-4{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 518px;
    gap: 31px;
    flex: 0 0 auto;
}
.div-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
    border-color: #040643;
    border-radius: 12px;
    width: 100%;
    height: 87px;
    border: 3px solid #040643;
    box-shadow: 0px 4px 4px #040643;
}
.text-wrapper{
    position: absolute;
    top: 19px;
    left: calc(50.00% - 196px);
    line-height: normal;
    font-family: 'Popins-Light', Helvetica;
    font-weight: 300;
    font-size: 32px;
    color: #040643;
    letter-spacing: 0;
}
.frame-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 297px;
    gap: 16px;
}
.text-wrapper-2{
    position: relative;
    align-items: stretch;
    font-family: 'Poppins-Medium',Helvetica;
    letter-spacing: 0;
    margin-top: -1.00px;
    font-weight: 500;
    font-size: 32px;
    color: #040643;
    text-align: center;
    line-height: normal;
}
.text-wrapper-3{
    position: relative;
    align-self: stretch;
    font-family: 'Poppins-Medium',Helvetica;
    line-height: normal;
    color: #040643;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 32px;
 }
.frame-6{
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0,1fr));
    /* position: relative;  */
    height: 500px;
    gap: 40px 100px;
    top: 294px;
    left: 64px;
    width: 684px;
    justify-self: space-between;
} 
.frame-7{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 55px;
    border-radius: 10px;
    background-color: #1a1f5c;
} 
.currency-naira{
   position: absolute;
   display: flex;
   justify-content: cen;
   width: 55px;
   height: 50px;
   color: #fff;
   top: 10px;
   font-size: bold;
   margin-left: -35px;
   padding-left: 3p;
}
.naira{
    position: abso;
    color: #fff;
    width: 67.7%;
    height: 66.7%;
    left: 16.67%;
    top: 16.67%;
}
.text-wrapper-4{
    position: relative;
    width: fit-content;
    margin-left: 67px;
    padding: 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    font-family: 'Poppins-Medium',Helvetica;
    color: #fff;
}
.frame-8{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 55px;
   border-radius: 10px;
   color: #fff;
   background-color: #1a1f5c;
}
.frame-9{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 55px;
   border-radius: 10px;
   color: #fff;
   background-color: #1a1f5c;
}
.frame-10{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 55px;
   border-radius: 10px;
   color: #fff;
   background-color: #1a1f5c;
}
.frame-11{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 55px;
   border-radius: 10px;
   color: #fff;
   background-color: #1a1f5c; 
}
.frame-12{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 55px;
   border-radius: 10px;
   color: #fff;
   background-color: #1a1f5c; 
}
.key-container{
    width: 451px;
    
}
.keypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 20px;
    width: 451px;
    height: 549px;
    border-radius: 50px;
    justify-items: flex-end;
    background-color: #6666661a;

}
.key{
    width: 90px;
    height: 80px;
    font-size: 40px;
    border-radius: 78px / 52.9px;
    background-color: #1a1f5c;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
.back{
    display: flex;
    width: 60px;
    justify-content: center;
    justify-self: center;
    text-align: center;
}
/* .button1{
    position: relative;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f28705;
    padding: 10px;
    border-radius: 15px;
} */
.continue{
    position: relative;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    background-color: #f28705;
    font-family: "Poppins-Medium", Helvetica;
    color: #000;
    font-size: 36px;
    border-radius: 15px;
    font-weight: 500;
    width: 256px;
    height: 58px;
    margin-top: -6.00px;
    margin-bottom: -4.00px;
}
.continue:hover{
    background-color: #000;
    color: #f28705;
}