body{
    width:2640px;
    min-height: 100vh;
    background-color: #000;

}
.successful{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1740px;
  min-height: 80vh;
  top: 170px;
  left: 1000px;
  background: linear-gradient(
    270deg,
    #040744 84%,
    #1a1f5c 99%
  );  
}

.img{
    top: 811px;
    left: calc(50.00% - 678px);
    position: absolute;
    width: 1355px;
    height: 312px;
}
.applead{
    position: absolute;
    top: 35px;
    left: 30px;
    width: 221px;
    height: 170px;
    aspect-ratio: 1.09;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1200px;
    align-items: center;
    gap: 256px;
    position: absolute; 
    top: 264px;
    left: 1050px;
}
.frame-wrapper {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 100%;
    height: 732px;
    background-color: #fffffff2;
    border-radius: 20px;
    right: 790px;
    overflow: hidden;
    opacity: 0.95;
}
.div {
    display: flex;
    flex-direction: column;
    width: 1028px;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 114px;
    top: 85px;
    left: 45px;
    position: relative;
}
.frame-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.frame-3{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;  
}
.union{
    position: relative;
    width: 1128px;
    height: 120px;
    font-size: 560px;
    left: 030px;
    flex-shrink: 0;
    fill: #f28705;
    top: -150px;
    
}
.text-wrapper{
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
    color: #040643;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', Helvetica;
    font-size: 60px;
    margin-right: -50px;
    top: -120px;
    padding-top: -200px;
}
.p {
    position: relative;
    width: 976px;
    top: -130px;
    letter-spacing: 0;
    line-height: normal;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
}
.frame-4{
    display: flex;
    flex-direction: column;
    width: 517px;
    gap: 18px;
    top: 120;
    left: 100px;
    margin-right: 20px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}
.component {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0px 4px 4px #00000040;
    position: relative;
    align-self: stretch;
    width: 500px;
    background-color: #1a1f5c;
}
.component:hover{
    background-color: #040744;
}
/* .component:active{
    background-color: #003f88;
} */
.text-wrapper-2{
    position: relative;
    width: fit-content;
    /* letter-spacing: 0;
    background-color: #1a1f5c;
    line-height: normal;
    margin-top: -3.50px;
    margin-bottom: -1.50px; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins-SemiBold", Helvetica;
}


.div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 70px;
    padding: 10px;
    border: 4px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    position: relative;
    align-self: stretch;
    width: 500px;
    border-color: #1a1f5c;
    cursor: pointer;
    transition: background 0.3s;
}
.div-wrapper:hover{
    background-color: #0056b3;
}
.div-wrapper:active{
    background-color: #003f88;
}
.text-wrapper-3{
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -6.50px;
    color: #040643;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    font-family: "Poppins-SemiBold", Helvetica;
}
.frame-5{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   left: -790px;
   padding: 10px;
   position: relative;
   flex: 0 0 auto;
}
.text-wrapper-4{
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    font-family: "Poppins-Regular", Helvetica;
}