body{
    background-color: #000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.pinchanged{
    background:  linear-gradient(
        270deg, 
        #040744 13.84%, 
        #1A1F5C 79.44%
    );
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 1940px;
    height: 1700px;
    top: 190px;
    left: 900px;
}
.applead{
    position: absolute;
    width: 150px;
    height: 130px;
    top: 51px;
    left: 51px;
    aspect-ratio: 1.09;
}
h1{
    display: flex;
    position: relative;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    color: #fff;
    top: 50px;
    left: 750px;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', Helvetica;
    font-size: 50px;
    line-height: normal;
    letter-spacing: 0;
    top: 150px;
}
.frame{
    width: 1300px;
    top: 30px;
    height: 1500px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
.pc{
    background-color: #fff;
    margin-top: 100px;
    position: relative;
    margin-bottom: 50px;
    width: 1000px;
    max-width: 1200px;
    padding: 81px 153px 0 152px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    opacity: 0.96;
}
.word{
    color: rgb(4, 4, 75);
    font-size: 50px;
    font-weight: 600;
    margin: 10px 20px;
    position: absolute;
    font-size: 60px;
    align-self: stretch;
    text-align: center;
    top: -0px;
    padding-top: -100px;
    font-family: "Poppins";
    line-height: normal;
    /* margin-left: 50px;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    text-align: center;*/
}
.dots{
    display: flex;
    justify-content: center;
    justify-self: stretch;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    flex: 1;
    padding: 28px 52px;
    gap: 81px;
}
.dots span{
    background-color: #bbb;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    border-radius: 25%;
    margin: 0 5px;
    gap: 80px;
    padding: 15px;
    justify-content: space-between;
}
.keypad{
    display: grid;
    background-color: #6666661a;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    width: 1000px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 30px;
    justify-items: center;
    box-sizing: 0 4px 15px rgba(4, 59, 99, 0.4);
}
button{
    width: 120px;
    height: 105px;
    font-size: 40px;
    border-radius: 78px / 52.9px;
    background-color: #1a1f5c;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
button:hover{
    background-color: yellowgreen;
    color: black;
    transform: scale(1.05);
}
.div{
    position: relative;
    align-items: center;
    display: flex;
    width: 200px;
    font-size: 50px;
    justify-content: center;
    height: 100px;
}
.ar{
    position: relative;
   display: flex;
   justify-content: flex-end;
   justify-self: flex-end;
   width: 100%;
   margin-left: 79px;
   gap: 00px;
   
}
.arrow{
    position: relative;
    border-radius: 15px;
    color: #fff;
    height: 90px;
    background-color: #bbb;
    top: -130px;
    left: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    transition: all 0.3s ease;
    margin-left: 200px;
    margin-bottom: 10px;
}
.Continue{
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    height: 53px;
    width: 100%;
    grid-column: span -1; */
    position: relative;
    width: 290px;
    top: -300px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #f28705;
    gap: 20px;
    right: -950px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 50px;
}
.confirm {
    color: black;
    font-weight: 600;
    font-size: 45px;
    padding: 15px 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}
.confirm:hover {
    background-color: #f28705;
    transform: scale(1.05);
}
.p{
    position: relative;
    width: 500px;
    font-family: 'Poppins-Regular', Helvetica;
    color: #fff;
    font-weight: 400;
    display: flex;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    top: 800px;
    left: -700px;
    margin-top: 1.00px;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    align-items: center;
}