/* .PIN {
    position: relative;
    width: 1440px;
    height: 1117px;
    background-size: cover;
    background: linear-gradient(
        270deg,
        rgba(4, 7, 68, 1)29%,
        rgba(26, 31, 92, 1)67%
    );
}

body {
    background-color: #1a1f5c;
}

.applead {
    position: absolute;
    top: 51px;
    left: 51px;
    width: 141px;
    height: 130px;
    aspect-ratio: 1.09;
}

.component {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f28705;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    height: 48px;
    top: 997px;
    left: 1208px;
}

.text-wrapper {
    position: relative;
    width: 156px;
    height: 38px;
    font-size: 26px;
    margin-top: -6px;
    margin-bottom: -4px;
    text-align: center;
    line-height: normal;
    letter-spacing: 0;
    font-family: "poppins-medium", Helvetica;
    font-weight: 500;
    color: black;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 1068px;
    align-items: center;
    gap: 10px;
    top: 180px;
    left: 186px;
    position: absolute;
}

.div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    align-self: stretch; 
    gap: 53px;
    width: 100%;
    position: relative; 
}

.frame-wrapper {
    position: relative;
    align-self: stretch;
    overflow: hidden;
    opacity: 0.96;
    background-color: #ffffffe6;
    width: 100%;
    height: 331px;
    border-radius: 15px;
}

.PIN .frame-2 {
    display: flex;
    flex-direction: column;
    width: 763px;
    align-items: center;
    gap: 45px;
    top: 81px;
    left: calc(50.00% - 382px);
    position: relative;
}

.frame-3 {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    align-self: stretch;
    gap: 81px;
    position: relative;
}

.frame-4 {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: #c2c2c2;
    border-radius: 7px;
}
.text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #040643;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.PIN .dialer {
    display: flex;
    flex-direction: column;
    width: 906px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 72px;
    position: relative;
    flex: 0 0 auto;
    background-color: #6666661a;
    border-radius: 50px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    height: 499px;
    gap: 13px 142px;
    position: relative;
    left: 72px;
    width: 762px;
}

.frame-6 {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.ellipse-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 156px;
    height: 105px;
    background-color: #1a1f5c;
    border-radius: 78px / 52.5px;

}

.text-wrapper-3 {
    position: relative;
    width: 25.82px;
    margin-top: -0.50px;
    margin-bottom: -8.82px;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    font-weight: 300;
    color: #ffffff;
    font-family: "Poppins-Light", Helvetica;
}

.frame-7 {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-8 {
    position: relative;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-9{
    position: relative;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-10{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-11 {
    position: relative;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-12 {
    position: relative;
    grid-row: 3/4;
    grid-column: 1/2;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-13 {
    position: relative;
    grid-row: 3/4;
    grid-column: 2/3;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.frame-14{
    position: relative;
    grid-row: 3/4;
    grid-column: 3/4;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.backspace {
    position: relative;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: 80px;
    height: 60px;
    justify-self: center;
    align-items: center;
}

.vector {
    position: relative;
    grid-row: 3 / 4;
    width: 100.00%;
    height: 75.00%;
    left: 0;
    top: 12.50%;
}

.frame-15 {
    position: relative;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 159px;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 71px;
}

.p {
    position: relative;
    align-self: stretch;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
} */

body{
    background-color: #000;
    color: #fff;
    width: 2640px;
    min-height: 100vh;
    margin: 0;
}
.PIN{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1700px;
    height: 80vh;
    left: 1000px;
    background: linear-gradient(
        270deg,
        #040744 29%,
        #1a1f5c 68%
    );
    text-align: center;
    top: 70px;
    padding-top: 200px;
}
.applead{
    position: absolute;
    top: 51px;
    left: 51px;
    width: 240px;
    height: 220px;
    aspect-ratio: 1.09;
}
.screen{
    position: relative;
    background-color:  #6666661a;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(70, 59, 99, 0.4);
    width: 890px;
    gap: 306px;
    top: 120px;
    left: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    margin-left: 20px;
}
.sk{
    display: flex;
    position: absolute;
    background-color: #fff;
    /* margin-top: 100px;
    margin-bottom: 50px; */
    top: 250px;
    width: 1200px;
    height: 400px;
    border-radius: 15px;

}
h2{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    color: #040744;
    font-size: 40px;
    top: -20px;
    left: 500px;
    font-weight: 500;
    font-style: normal;
    font-style: larger;
    line-height: normal;
    font-family: 'Poppin';
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    align-self: stretch;
}
.pin-dots{
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    left: -700px;
    /* margin-bottom: 55px;
    margin-top: 25px; */
    gap: 30px;
    padding-bottom: 81px 153px 0 152px;
}
.pin-dots span{
    position: relative;
    width: 0px;
    height: 100px;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15%;
    margin: 0 5px;
    gap: 100px;
    left: -9px;
    padding: 81px 15px 0 152px;
    justify-content: center;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 55px;
    width: 900px;
    column-gap: 150px;
    align-self: stretch;
    justify-items: center;
}
button{
    width: 120px;
    height: 105px;
    border-radius: 78px / 52.9px;
    color: #fff;
    background-color: #1a1f5c;
    font-size: 40px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
button:hover{
    background-color: #00ffcc;
    color: #000;
    transform: scale(1.05);
}
.continue{
    flex-shrink: 0;
    position: relative;
    width: 280px;
    height: 80px;
    margin-left: 280px;
    top: 410px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    color: #000;
    background-color: #f28705;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
}
.continue:hover{
    background-color: #ac3c3a;
}
.backspace-1{
    width: 90px;
    height: 100px;
}

.p{
    position: relative;
    font-size: 2.9rem;
    font-weight: 400;
    color: white;
    margin-left: -990px;
    top: 650px;
    left: -250px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    font-family: 'poppins',Helvetica;
    line-height: normal;
}