body{
  background-color: #000;
  width: fit-content;
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 0;
}
.frame{
  position: relative;
  display: flex;
  background: linear-gradient(
    270deg,
    #040744 13.98%,
    #1a1f5c 84%
   
  );
  top: 135px;
  width: 1900px;
  align-items: center;
  margin-left: 990px;
  text-align: center;
  justify-self: center;
  justify-content: center;
}
.applead{
  width: 220px;
  height: 190px;
  aspect-ratio: 1.09;
  top: 55px;
  position: absolute;
  left: 51px;
}
.tip{
  position: relative;
  justify-content: center;
  height: 50vh;
  width: 890px;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 15px;
  top: 0px;
  padding: 30px;
  left: 120px;
  margin-top: 7px;
  margin-left: 20px;
}
.space{
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 1200px;
  margin: 100px;
  height: 400px;
  top: -200px;
  border-radius: 15px;
  justify-content: center;
  align-items: center; 
  align-self: stretch;
  text-align: center; 
}
.word{
  /* color: #03040e;
  width: 50px;
  font-family: 'Poppins-regular',Helvetica;
  font-size: 50px;
  margin-left: 75px; */
  position: relative;
  display: flex;
  margin-bottom: 20px;
  color: #040744;
  font-size: 45px;
  top: -20px;
  left: 400px;
  font-weight: 500;
  font-style: normal;
  font-style: larger;
  line-height: normal;
  font-family: 'Poppin';
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  align-self: stretch;
}

.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  top: 200px;
  left: -170px;
  gap: 40px;
  padding-bottom: 81px 153px 0 152px;
}
.box span{
  position: relative;
  background-color: #c3c3c3;
  width: 0px;
  height: 100px;
  display: flex;
  text-align: center;
  align-self: stretch;
  justify-content: center;
  gap: 91px;
  margin: 0 15px;
  border-radius: 15%;
  margin: 0 5px;
  gap: 100px;
  left: -9px;
  top: -70px;
  padding: 81px 15px 0 152px;
  justify-content: center
}
span{
  position: relative;
  display: flex;
  text-align: center;
  left: -7px;
  color: black;
  font-size: 90px;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-items: center;
}
.screen{
  position: relative;
  background-color:  #6666671a;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(70, 59, 99, 0.4);
  width: 890px;
  gap: 306px;
  top: 240px;
  left: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 7px;
  margin-left: 20px;
}
.keys{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  box-sizing: 0 4px 15px rgba(4, 59, 99, 0.4);
  justify-items: center;
  left: 350px;
  row-gap: 55px;
  width: 900px;
  column-gap: 150px;
  align-self: stretch;
}
button{
  background-color: #1a1f5c;
  border-radius: 78px / 52.5px;
  width: 130px;
  height: 105px;
  transition: background 0.3s, transform 0.2;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}
button:hover {
  background-color: aquamarine;
  color: black;
  transform: scale(1.05);
}
.bs{
  height: 90px;
  width: 90px;
}
.con{
  display: flex;
  position: relative; 
  align-items: center;
  align-self: stretch;
  justify-content: center;
  width: 280px;
  margin-left: 490px;
  top: 510px;
  height: 80px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: #f28705;
  color: #000;
  font-weight: bold;
}
.con:hover{
  color: #f28705;
  background-color: #000;
}
.p{
  position: absolute;
  display: flex;
  text-align: baseline;
  color: #fff;
  font-size: 35px;
  left: 570px;
  margin-left: -40px; 
  align-self: stretch;
  top: 1500px;
  align-self: stretch;
  font-family: 'poppins',Helvetica;
  line-height: normal;
}
