@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  background-color: #040744, #1A1F5C, ;
  --light-color: #fff;
}

body{
  background-color: #040604;
}

.img{
  top: 814px;
  left: calc(50.00% - 678px);
  position: absolute;
  width: 1355px;
  height: 312px;
}
.applean {
  position: relative;
  top: 51px;
  left: -450px;
  width: 200px;
  height: 190px;

} 
  



.frame {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  text-align: center;
  width: 1240px;
  top: 210px;
  height: 1240px;
  background: linear-gradient(
    270deg,
    rgba(4, 7, 68, 1)29%,
    rgba(26, 31, 92, 1)67%
  );
}

.div {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 210px;
  left:calc(50.00% - 318px);
}

.text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #fff;
  letter-spacing: 0;
  line-height: normal;
  font-family: "Montserrat-BlackItalic", Helvetica;
  font-weight: 900;
  font-style: italic;
  font-size: 96px;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.div-2 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 14px;
  top: 405px;
  width: 494px;
  height: 81px;
  left: calc(50.00% - 247px);
}

.text-wrapper-3 {
  color: #fff;
  width: 301px;
  text-align: center;
  font-size: 64px;
  font-style: italic;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-4 {
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  margin-top: 1.5px;
  height: 78px;
  width: 179px;
}


.img {
  top: 1010px;
  position: absolute;
  left: calc(50.00% - 677px);
  width: 1355px;
  height: 312px;
}

.ATM {
  position: absolute;
  height: 16.86%;
  top: 44.29%;
  left: calc(50.00% - 104px);
  width: 208px;
  box-shadow: inset 0px 4px 5.7px #00000040;
}

.vector {
  position: absolute;
  height: 32.43%;
  top: 0;
  left: calc(50.00% - 107px);
  width: 213px;
}

.card {
  position: absolute;
  top: 42px;
  left: 29px;
  width: 150px;
  height: 215px;
}

.text-wrapper-7 {
  position: absolute;
  top: 900px;
  left: calc(50.00% - 159px);
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.Powered {
  display: flex;
  width: 254px;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  position: absolute;
  left: calc(50.00% - 127px);
  bottom: 28px;
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular",Helvetica;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.div-3 {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  width: 136px;
  gap: 4px;
  padding: 0px 5px;
}

.applead {
  position: relative;
  width: 27px;
  height: 25px;
  aspect-ratio: 1.09;
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #040643;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18.0px;
  white-space: nowrap;
}

.Arrow-up {
  position: absolute;
  top: -500px;
  left: calc(50.00% + 113px);
  width: 50px;
  height: 50px;
}

.Arrow-Up-SM {
  position: absolute;
  top: -500px;
  left: -40px; 
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}