body{
    width: 2740px;
    height: 1900px;
    background-color: #000;

}
.successful{
  position: relative;
  display: grid;
  place-items: center;
  width: 1940px;
  height: 1500px;
  left: 950px;
  top: 80px;
  background: linear-gradient(
    270deg,
    rgba(4, 7, 68, 1)29%,
    rgba(26, 31, 92, 1)67%
  );  
}

.img{
    top: 811px;
    left: calc(50.00% - 678px);
    position: absolute;
    width: 1355px;
    height: 312px;
}
.applead{
    position: absolute;
    top: 35px;
    left: 30px;
    width: 241px;
    height: 200px;
    aspect-ratio: 1.09;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1100px;
    align-items: center;
    gap: 256px;
    position: absolute;
    top: 264px;
    left: 290px;
}
.frame-wrapper {
    position: relative;
    align-self: stretch;
    width: 1400px;
    height: 950px;
    background-color: #fffffff2;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.95;
}
.div {
    display: flex;
    flex-direction: column;
    width: 1028px;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 114px;
    top: 85px;
    left: -105px;
    position: relative;
}
.frame-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.frame-3{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 21px;
    position: relative;
    align-self: stretch;
    width: 100%;
    left: 315px;
    flex: 0 0 auto;  
}
.union{
    position: relative;
    width: 128px;
    height: 129px;
    left: -530px;
    
}
.text-wrapper{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    color: #040643;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', Helvetica;
    font-size: 70px;
    margin-right: -100px;
    top: -100px;
}
.p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: s;
    text-align: justify;
    width: 996px;
    top: -90px;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
}
.frame-4{
    display: flex;
    flex-direction: column;
    width: 517px;
    gap: 18px;
    top: 5px;
    left: 350px;
    margin-right: 0px;
    align-items: flex-end;
    position: relative;
    flex: 0 0 auto;
}
.component {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    position: relative;
    align-self: stretch;
    width: 520px;
    background-color: #1a1f5c;
}
.text-wrapper-2{
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins-SemiBold", Helvetica;
}
.div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 10px;
    border: 4px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    position: relative;
    align-self: stretch;
    width: 510px;
    border-color: #1a1f5c;
}
.text-wrapper-3{
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
    color: #040643;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    font-family: "Poppins-SemiBold", Helvetica;
}
.frame-5{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 10px;
   padding: 10px;
   position: relative;
   flex: 0 0 auto;
}
.text-wrapper-4{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    top: -80px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    font-family: "Poppins-Regular", Helvetica;
}