body{
    background-color: #1a1f5c;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "";
    height: 100vh;
    margin: 0;  
}
.PIN{
    text-align: center;
}
.applead{
    width: 600px;
}

.screen{
    background-color:  #6666661a;
    border-radius: 15px;
    padding: 30px;
    box-sizing: 0 4px 15px rgba(70, 59, 99, 0.4);
    width: 1200px;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sk{
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 750px;

}
h2{
    margin-bottom: 20px;
    color: rgb(4, 4, 75);
    font-size: 70px;
}
.pin-dots{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 25px;
}
.pin-dots span{
    width: 130px;
    height: 100px;
    background-color: #bbb;
    display: flex;
    align-items: center;
    border-radius: 15%;
    margin: 0 5px;
    gap: 80px;
    justify-content: space-between;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
}
button{
    width: 120px;
    height: 105px;
    border-radius: 78px / 52.9px;
    color: #fff;
    background-color: #1a1f5c;
    font-size: 40px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
button:hover{
    background-color: #00ffcc;
    color: #000;
    transform: scale(1.05);
}
.continue{
    width: 260px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #f28705;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}
.continue:hover{
    color: #f28705;
}
.backspace-1{
    width: 90px;
    height: 100px;
}

.p{
    font-size: 0.9rem;
    color: #bbb;
    margin-top: 25px;
}