body{
    width: 2340px;
    height: 1900px;
    background-color: #000;
}
.unsuccessful{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 1760px;
    top: 100px;
    left: 1000px;
    height: 1550px;
    background: linear-gradient(
        270deg,
        rgba(4, 7, 68, 1)29%,
        rgba(26, 31, 92, 1)67%
    );
}
/* img{
    width: 1325px;
    height: 312px;
    top: 811px;
    left: calc(50.00% - 678px);
    position: absolute;
} */
.applead{
    position: absolute;
    top: 35px;
    left: 35px;
    width: 201px;
    height: 190px;
    aspect-ratio: 1.09;
}
.frame{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1400px;
    top: 250px;
    gap: 256px;
    left: 0px;
}
.frame-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    justify-self: center;
    overflow: hidden;
    background-color: #fffffff2;
    width: 100%;
    height: 900px;
    left: 190px;
    opacity: 0.95;
    border-radius: 30px;
}
.div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    width: 976px;
    gap: 62px;
    left: 77px;
    top: 33px;
}
.frame-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 0 0 auto;
    width: 989px;
    gap: 29px;
}
.background{
    position: relative;
    width: 170px;
    top: -50px;
    height: 170px;
    right: 95px;
    object-fit: cover;
}
.frame-3{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-self: stretch;
    width: 100%;
    gap: 80px;
    flex: 0 0 auto;
}
.frame-4{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    flex: 0 0 auto;
    width: 1058px;
    gap: 16px;
}
.text-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    letter-spacing: 0;
    line-height: normal;
    color: #040744;
    margin-top: -51.00px;
    font-size: 60px;
    right: 75px;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', Helvetica;
}
.text-wrapper-2{
    position: relative;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-items: center;
    justify-self: center;
    line-height: normal;
    text-align: center;
    letter-spacing: 0;
    color: #d20606;
    font-size: 52px;
    left: 120px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat-MediumItalic',Helvetica;
}
.p{
    position: relative;
    align-self: stretch;
    color: #1a1f5c;
    font-style: italic;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0;
    right: 100px;
    font-weight: 600;
    font-family: 'Poppins-SemiBoldItalic', Helvetica;
}
.frame-5{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 564px;
    height: 166px;
    left: 90px;
    gap: 18px;
}
.component{
    position: relative;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: #1a1f5c;
    height: 40px;
    gap: 10px;
    padding: 15px;
    width: 390px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
}
.component:hover{
    background-color: #fff;
    color: #1a1f5c;
}
.try{
    position: relative;
    display: flex;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    line-height: normal;
    align-items: center;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    width: fit-content;
    font-style: 600;
    font-weight: 500;
    font-family: 'Poppins-SemiBold', Helvetica;
}
.try:hover{
    color: #1a1f5c;
}
.div-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 4px solid;
    border-color: #1a1f5c;
    box-shadow: 0px 4px 4px #00000040;
    gap: 10px;
    height: 60px;
    width: 370px;
    padding-left: 45px;
    padding-right: -35px;
    border-radius: 10px;
}
.text-wrapper-3{
    position: relative;
    width: fit-content;
    line-height: normal;
    font-family: 'Poppins-SemiBold',Helvetica;
    color: #040643;
    font-size: 30px;
    right: 25px;
    font-weight: 600;
    margin-top: -6.50px;
    letter-spacing: 0;
}
.frame-6{
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    left: 155px;
    gap: 10px;
    padding: 10px;
}
.text-wrapper-4{
    position: relative;
    width: fit-content;
    line-height: normal;
    letter-spacing: 0;
    color: #ffffff;
    font-family: 'Poppins-Regular',Helvetica;
    font-size: 40px;
    font-weight: 400;
}